*,
::before,
::after{
    margin: 0;
    padding: 0;
    /*清除webkit内核浏览器点击之后的高亮效果*/
    -webkit-tap-highlight-color: transparent;
    /*以border开始计算当前的宽度*/
    -webkit-box-sizing: border-box;
}
body{
    /*定义当前字体样式*/
    font-size: 14px;
    font-family: "Microsoft YaHei",sans-serif;
    /*定义字体颜色*/
    color: #000;
}
a{
    /*清除默认下划线*/
    text-decoration: none;
    color: #000000;
}
ul{
    list-style: none;
}
input,textarea{
    /*清除输入框边框*/
    border:none;
    /*禁止收缩*/
    resize: none;
    /*清除默认选中框效果*/
    outline: none;
    /*清除浏览器默认的样式*/
    -webkit-appearance: none;
}
/*清除浮动*/
.clearfix::before,
.clearfix::after{
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
    clear: both;
}

/*京东所有图标的样式*/
[class^="icon"]{
    background: url("../img/sprites.png") no-repeat;
    background-size: 200px 200px;
}
/*顶部通栏*/
.jd_topbar{
    height: 45px;
    width: 100%;
    background: url("../img/header-bg.png") repeat-x;
    background-size: 1px 44px;
    border-bottom: 1px solid #e0e0e0;
    z-index: 1000;
}